<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453343817464-sjaet61jvuqmji68anmblms98cd5smj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453343817464-sjaet61jvuqmji68anmblms98cd5smj9</string>
	<key>API_KEY</key>
	<string>AIzaSyDu5dLDeTP6mKWKSwKWPGve_U3MzPtLvMw</string>
	<key>GCM_SENDER_ID</key>
	<string>453343817464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-e29c0</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-e29c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453343817464:ios:ee73bb5ac384d845a0950d</string>
</dict>
</plist>